#!/bin/bash
#####################   SET VARIABLES   ##########################################################
BASE=~dcking@colostate.edu/local
                                                                                   #tagdust needs a .fasta file that contains a list of all the solexa primer and adapter sequences. Set this
                                                                                    #variable to a path pointing to that file.
SOLEXA_PRIMER_ADAPTER=$BASE/support_data/solexa-library-seqs.fasta
#bowtie2path="/proj/dllab/Erin/ce10/from_ucsc/seq/genome_bt2/ce10"                  #bowtie2 know where the bowtie2 index files are located. Set this varaible to the path and root
                                                                                    #name of those index files.
                                                                                    #Also, the genome sequence (a .fa file) also needs to be in that same directory.
BOWTIEPATH=$BASE/support_data/ce11
CHROMLENGTH=$BOWTIEPATH/ce11.chrom.sizes                                            #bedToBw.sh needs to know how long each chromosome is
##################################################################################################

