#!/bin/bash
#####################   SET VARIABLES   ##########################################################
SOLEXA_PRIMER_ADAPTER=/proj/dllab/Erin/sequences/solexa-library-seqs.fasta        #tagdust needs a .fasta file that contains a list of all the solexa primer and adapter sequences. Set this
                                                                                    #variable to a path pointing to that file.
#bowtie2path="/proj/dllab/Erin/ce10/from_ucsc/seq/genome_bt2/ce10"                  #bowtie2 know where the bowtie2 index files are located. Set this varaible to the path and root
                                                                                    #name of those index files.
                                                                                    #Also, the genome sequence (a .fa file) also needs to be in that same directory.
#bowtie1path="/proj/dllab/Erin/ce10/from_ucsc/seq/prev_versions_bowtie/genome_bwa/ce10"
BOWTIEPATH=/Users/david/work/onishlab/ce11
#chromlength="/proj/dllab/Erin/ce10/from_ucsc/seq/chr_length_ce10.txt"               #bedToBw.sh needs to know how long each chromosome is
CHROMLENGTH=$bowtiepath/ce11.chrom.sizes                                          #bedToBw.sh needs to know how long each chromosome is
##################################################################################################

